Misleading error on requests without Content-Length header

Because of the following logic in the `RawBodyParser` ...

```
// RFC7230, §3.3: The presence of a message body in a request
// is signaled by a Content-Length or Transfer-Encoding header field.
// While clients SHOULD NOT use use a Content-Length header on GET,
// some still provide a Content-Length of 0 (but without Content-Type).
if ((!contentLength || (/^0+$/u.test(contentLength) && !contentType)) && !transferEncoding) {
  this.logger.debug('HTTP request does not have a body, or its empty body is missing a Content-Type header');
  return;
}
```

... request's containing a body (e.g. a `PUT` request) that _have_ a `Content-Type` header but _do not have_ a `Content-Length` header, skip the actual parsing logic, but continue to their respective `OperationHandler` (e.g. the `PutOperationHandler`), and fail there — because of their missing body — with the following incorrect error:

```
No Content-Type header specified on PUT request
```

I'm trying to determine whether only error _message_ is wrong, or whether no error should have been thrown in the first place.

> request's containing a body (e.g. a `PUT` request) that _have_ a `Content-Type` header but _do not have_ a `Content-Length` header,

And the `Transfer-Encoding` header was also missing?
So do we agree then with the behavior that the request is rejected? (But need to fix the message?)

For reference, the error is thrown here: https://github.com/solid/community-server/blob/80713de22387c95d377dede93bf028daa5c66bec/src/ldp/operations/PutOperationHandler.ts#L31-L37

So it's a consequence of us not saving the content-type header if there is no body, which makes sense since it's not relevant anymore then. We probably want to update the error there to have a separate check for the body first and throw a different error message then.

> We probably want to update the error there to have a separate check for the body first and throw a different error message then.

Agreed; something like 'No body passed, or incomplete headers (needs either Content-Length or Transfer-Encoding)`

BTW with the current setup, the `'No Content-Type header specified on PUT request'` error would actually never be triggered in case of a missing content-type header, because the body parsers themselves should take it.

So I wonder if we want to simply throw the `MissingBodyError` when body is missing or even when content-type is missing (even though it should not happen).

Simply throwing a `MissingBodyError` would still be uninformative in the case I put forward, where there actually _is_ a body (and also a `Content-Type` header), since that error can indeed only be as broad as `No body passed, or incomplete headers (needs either Content-Length or Transfer-Encoding)`.

> I'm trying to determine whether only error message is wrong, or whether no error should have been thrown in the first place.

I think that it is a correct but quite harsh enforcement of RFC7230 §3.3. Rather then simply neglecting any possible body when those headers are missing, it might be better to first check if there is a body, and if so complain when the headers are missing.


> Simply throwing a `MissingBodyError` would still be uninformative in the case I put forward, where there actually _is_ a body (and also a `Content-Type` header), since that error can indeed only be as broad as `No body passed OR incomplete headers`.

The error description could contain extra information indicating that this could be a result of headers missing though.

> > I'm trying to determine whether only error message is wrong, or whether no error should have been thrown in the first place.
> 
> I think that it is a correct but quite harsh enforcement of RFC7230 §3.3. Rather then simply neglecting any possible body when those headers are missing, it might be better to first check if there is a body, and if so complain when the headers are missing.

Does complain mean throwing an error or logging one? Because the RFC does not seem to imply that this would be illegal (didn't read anything besides the excerpt above though). As far as it is concerned you can send whatever you want, but for the request the body does not exist if you don't indicate in the headers that it is there.

I also wonder how easy it would be to check the presence of the body. Since it's a stream the only way to check afaik would be to try to read a bit from the stream and block until we get data or an end event. This makes it a lot more fiddly and that for a request that is not following the RFC anyway. I think expanding the error that gets thrown by the operation handlers (since they do care about a body being present) to explain that this might be caused by missing headers should be sufficient. Similarly to how we explain errors on out of scope identifiers: https://github.com/solid/community-server/blob/80713de22387c95d377dede93bf028daa5c66bec/templates/error/descriptions/E0001.md.hbs


@woutermont The idea of specific error types is precisely that we can have a detailed full-text description of possible causes and fixes. We have a mechanism for that; example is a misconfigured hostname.

@joachimvh is right, the request MUST be rejected.